In [2]:
import pandas as pd
import numpy as np

In [3]:
Data_path = '/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Processed/Processed_Classication_Data.csv'

In [4]:
Data= pd.read_csv(Data_path, keep_default_na=False, na_values=[])

In [5]:
Data.head()

,Unnamed: 0.1,Unnamed: 0,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,0,0,NORTH,2583,239.966555,0,4653,1,1,6,...,0,0,0,0,0,0,0,0,0,0
1,1,1,NORTH,24950,2317.911557,0,33000,5,1,8,...,1,1,0,1,1,0,0,1,0,1
2,2,2,NORTH,24950,2317.911557,0,33000,5,1,8,...,1,1,0,1,1,0,0,1,0,0
3,3,3,NORTH,2583,239.966555,0,4653,1,1,6,...,0,0,0,0,0,0,0,0,0,0
4,4,4,NORTH,29192,2712.002973,0,32312,6,1,12,...,1,1,0,1,1,0,0,1,0,1

In [6]:
Data = Data.drop("Unnamed: 0.1",axis=1)

In [7]:
Data = Data.drop("Unnamed: 0",axis=1)

In [8]:
Location_mapping = {
    "NORTH" : 1,
    "SOUTH" : 2,
    "WEST" : 3,
    "EAST" : 4
}

In [9]:
Data["Project Location"] = Data["Project Location"].map(Location_mapping)

In [10]:
Sustainability = {
    "None":0,
    "Leed":1,
    "Well":2,
    "Leed&Well":3
}

In [11]:
Data["Sustainability"] = Data["Sustainability"].map(Sustainability)

In [12]:
Fire_Approval = {
    "UL":0,
    "UL&FM":1
}

In [13]:
Data["Fire Approval std."] = Data["Fire Approval std."].map(Fire_Approval)

In [14]:
head_count = {
    "YES":1,
    "NO":0
}

In [15]:
Data["Head count/design details from client"] = Data["Head count/design details from client"].map(head_count)

In [16]:
DX = {
    "Design Strong Option":1,
    "Standard Design Option":2,
    "Cost Effective Design Option":3,
}

In [17]:
Data["Type of DX details to be considered"] = Data["Type of DX details to be considered"].map(DX)

In [ ]:
Base_Flooring = {
    "Screeding already done at site. Dismantling of existing cement screed. New cement Screeding for Hardfloor area. Raceways filling and repair":1,
    "Cement Screed  upto 75mm height with M15 grade concrete":2,
    "False floor across office Bare cement finish tiles (upto 150 mm height Below carpet area & Cement screeding for Hard floor area)":3
}

In [19]:
Data["Type of Base Flooring (Screeding / False Floor/ Screeding already done at site by Builder / client)"] = Data["Type of Base Flooring (Screeding / False Floor/ Screeding already done at site by Builder / client)"].map(Base_Flooring)

In [20]:
Ceiling_Type = {
    "Open Ceiling":1,
    "Closed Ceiling":2,
    "Partially open and closed ceiling":3,
    "Open ceiling with Acoustic Paint":4
}

In [21]:
Data["Type of ceiling in workhall"] = Data["Type of ceiling in workhall"].map(Ceiling_Type)

In [22]:
Door_type = {
    "Glazed stile doors":0,
    "Laminated Flush doors with aluminium door frame":1
}

In [23]:
Data["Type of Doors for rooms"] = Data["Type of Doors for rooms"].map(Door_type)

In [24]:
Columns_to_Remove = ["High Side-Plumbing Vertical Stacks provided by the Landlord","Fire uprights Provided by the Landlord","Facade Drenching required at project","Raising Main available at floor level","Staircase paint finish in SM Scope"]

In [25]:
Data_updated = Data.drop(columns=Columns_to_Remove,axis=1)

In [26]:
New_columns_removed = ["No of floors in SM scope for Staircase paint","Fire compartment for office","Type of workstation","Size of the Workstation","Modesty Panel","Wire Management Type","Modular Phone Booth","Modular Phone Booth","Any Specific Make for Loose furniture","Any Specific Make for Chairs","Quantity Buffer in measurable items","Chairs","SPN DBs  UPS Cable Size","MELDB Cable Size"]

In [27]:
Data_updated = Data_updated.drop(columns=New_columns_removed,axis=1)

In [28]:
Data_updated["Toilets provided by the landlord"]

0     Yes
1     Yes
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7     Yes
8     Yes
9      No
10    Yes
11    Yes
12    Yes
13     No
14    Yes
15    Yes
16    Yes
17    Yes
Name: Toilets provided by the landlord, dtype: object

In [29]:
Toilets = {
    "Yes":1,
    "No":0
}

In [30]:
Data_updated["Toilets provided by the landlord"] = Data_updated["Toilets provided by the landlord"].map(Toilets)

In [31]:
Lift_Lobby = {
    "YES":1,
    "NO":0
}

In [32]:
Data_updated["Lift Lobby finishes provided by the landlord"] = Data_updated["Lift Lobby finishes provided by the landlord"].map(Lift_Lobby)

In [33]:
Fir_Exit_Scope = {
    "YES":1,
    "NO":0
}

In [34]:
Data_updated["Fire exits door in SM scope"] = Data_updated["Fire exits door in SM scope"].map(Fir_Exit_Scope)

In [35]:
SEZ = {
    "YES":1,
    "NO":0
}

In [36]:
Data_updated["SEZ Zone"] = Data_updated["SEZ Zone"].map(SEZ)

In [37]:
Monitor_Arm = {
    "YES":1,
    "NO":0
}

In [38]:
Data_updated["Monitor arm"] = Data_updated["Monitor arm"].map(Monitor_Arm)

In [39]:
Type_of_Monitor_Arm = {
    "Single Monitor Arm":1,
    "Dual Monitor Arm":2
}

In [40]:
Data_updated["Type of Monitor Arm"] = Data_updated["Type of Monitor Arm"].map(Type_of_Monitor_Arm)

In [41]:
Electric_Lock = {
    "Yes":1,
    "No":0
}

In [42]:
Data_updated["Electric Strick Lock requirement"] = Data_updated["Electric Strick Lock requirement"].map(Electric_Lock)

In [43]:
Data_path = '/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Processed/Processed_Classification_Data_2.0.csv'

In [44]:
Updated_Data= pd.read_csv(Data_path, keep_default_na=False, na_values=[])

In [45]:
Updated_Data = Updated_Data.drop("Unnamed: 0",axis = 1)

In [46]:
ACS = {
    "Lenel":0,
    "Pro Watch":1,
    "Software house":2,
    "HID":3,
    "Kantech/Pro 3000":4,
    "Spectra/Essl":5,
    "Matrix":6,
    "Spintly":7
}

In [47]:
Updated_Data["Type of ACS"] = Updated_Data["Type of ACS"].map(ACS)

In [48]:
ACS_Scope = {
    "Yes":1,
    "No":0
}

In [49]:
Updated_Data["Scope of Access Card"] = Updated_Data["Scope of Access Card"].map(ACS_Scope)

In [50]:
ACS_Server = {
    "Yes":1,
    "No":0
}

In [51]:
Updated_Data["Scope of Access Main Server"] = Updated_Data["Scope of Access Main Server"].map(ACS_Server)

In [52]:
ACS_Server_Recording = {
    "Yes":1,
    "No":0
}

Updated_Data["Scope of Access Recording PC"] = Updated_Data["Scope of Access Recording PC"].map(ACS_Server_Recording)

In [53]:
Reader_Type = {
    "Card":1,
    "Biometric":0
}

Updated_Data["Type of  Reader for Critical Room"] = Updated_Data["Type of  Reader for Critical Room"].map(Reader_Type)

In [54]:
CCTV_Type = {
    "ECO":1,
    "MID":2,
    "HIGH":3
}

Updated_Data["Type of CCTV"] = Updated_Data["Type of CCTV"].map(CCTV_Type)

In [55]:
CCTV_MP = {
    "2MP":1,
    "4MP":2,
    "5MP":3 
}

Updated_Data["CCTV Mega Pix"] = Updated_Data["CCTV Mega Pix"].map(CCTV_MP)

In [56]:
storage = {
    "30 days Storage":1,
    "60 days Storage":2,
    "90 days Storage":3
}

Updated_Data["Storage"] = Updated_Data["Storage"].map(storage)

In [57]:
recording = {
    "NVR Recording":1,
    "Server Recording":2,
    "Cloud Recording(Client scope)":3,
    "Mile Recording":4,
    "Genetec Recording":5 
}

Updated_Data["Recording"] = Updated_Data["Recording"].map(recording)

In [58]:
Updated_Data.to_csv("/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Processed/Processed_Classification_Data_3.0.csv")

In [59]:
Cloud_license = {
    "Client scope (Cloud license)":1,
    "SM scope (Cloud license)":0
}


Updated_Data["Cloud license"] = Updated_Data["Cloud license"].map(Cloud_license)

In [60]:
Switch_Client = {
    "PoE Switch Client":1,
    "PoE Switch SM":0
}

In [61]:
CCTV_Scope = {
    "Client":1,
    "SM":0
}


Updated_Data["CCTV Monitor Scope"] = Updated_Data["CCTV Monitor Scope"].map(CCTV_Scope)

In [62]:
BMS_Scope = {
    "Yes":1,
    "NA":0
}


Updated_Data["Scope: BMS"] = Updated_Data["Scope: BMS"].map(BMS_Scope)

In [63]:
VMS_Scope = {
    "Yes":1,
    "NA":0
}


Updated_Data["Scope: VMS"] = Updated_Data["Scope: VMS"].map(VMS_Scope)

In [64]:
BMS_Additional_info = {
    "NA":0,
    "IOT Integration":1,
    "EMS Software":2,
    "GSM Module":3,
    "IOT+EMS+GSM":4,
    "IOT+EMS":5
    }


Updated_Data["Additional Info"] = Updated_Data["Additional Info"].map(BMS_Additional_info)

In [65]:
FA = {
    "ECO FA":1,
    "MID FA":2,
    "HIGH FA":3
}


Updated_Data["FA"] = Updated_Data["FA"].map(FA)

In [66]:
Repeater_Panel = {
    "Passive":0,
    "Active":1
}


Updated_Data["Repeater Panel"] = Updated_Data["Repeater Panel"].map(Repeater_Panel)

In [67]:
Fire_Graphics = {
    "NA":0,
    "Fire Graphics":1
}


Updated_Data["Fire Graphics requirement"] = Updated_Data["Fire Graphics requirement"].map(Fire_Graphics)

In [68]:
PA_System = {
    "ECO/MID":1,
    "HIGH":2,
    "NA":0
}


Updated_Data["PA System"] = Updated_Data["PA System"].map(PA_System)

In [69]:
WLD_System = {
    "NA":0,
    "Analogue":1,
    "Addressable":2
}



Updated_Data["Type of WLD system"] = Updated_Data["Type of WLD system"].map(WLD_System)

In [70]:
Rodent_Scope = {
    "NA":0,
    "All Critical":1,
    "All critical+cafe+shaft":2
}
Updated_Data["Scope of Rodent"] = Updated_Data["Scope of Rodent"].map(Rodent_Scope)

In [71]:
Updated_Data["Scope of Rodent"]

0     2
1     2
2     2
3     2
4     1
5     1
6     1
7     2
8     2
9     1
10    2
11    2
12    2
13    1
14    1
15    2
16    2
17    2
Name: Scope of Rodent, dtype: int64

In [72]:
Vesda_Scope = {
    "":0,
    "Yes":1
}



Updated_Data["Scope of Vesda"] = Updated_Data["Scope of Vesda"].map(Vesda_Scope)

In [73]:
Updated_Data["Scope of Vesda"]

0     0
1     1
2     1
3     0
4     1
5     1
6     1
7     1
8     1
9     1
10    0
11    1
12    1
13    1
14    1
15    1
16    1
17    1
Name: Scope of Vesda, dtype: int64

In [74]:

Vesda_Loc= {
    "NA":0,
    "Server":1,
    "Server/Hub":2,
    "Server/Hub/Lab":3
    
}



Updated_Data["Vesda"] = Updated_Data["Vesda"].map(Vesda_Loc)

In [75]:

FlapBarrier_Turnstile= {
    "NA":0,
    "Flap Barrier":1,
    "Turnstile":2
    
}



Updated_Data["Flap Barrier /Turnstile"] = Updated_Data["Flap Barrier /Turnstile"].map(FlapBarrier_Turnstile)

In [76]:
Updated_Data["Flap Barrier /Turnstile"]

0     0
1     1
2     1
3     0
4     0
5     0
6     0
7     1
8     1
9     0
10    0
11    1
12    1
13    0
14    0
15    1
16    1
17    1
Name: Flap Barrier /Turnstile, dtype: int64

In [77]:

Lane_Type= {
    "ECO":1,
    "MID":2,
    "HIGH":3
    
}

Updated_Data["500/550mm Normal lane"] = Updated_Data["500/550mm Normal lane"].map(Lane_Type)

In [78]:

Sprinkler_Type= {
    "New Sprinkler":1,
    "Modification":0
}

Updated_Data["Scope of Sprinkler"] = Updated_Data["Scope of Sprinkler"].map(Sprinkler_Type)

In [79]:

Gas_Supression= {
    "No":0,
    "Yes":1
}

Updated_Data["Scope of Gas supression system(Novec)"] = Updated_Data["Scope of Gas supression system(Novec)"].map(Gas_Supression)

In [80]:

Gas_Supression_Room_Coverage= {
    "NA":0,
    "Server":1,
    "Server&HUB":2,
    "All Critical room":3
}

Updated_Data["Gas Supression System (Room Coverage)"] = Updated_Data["Gas Supression System (Room Coverage)"].map(Gas_Supression_Room_Coverage)

In [81]:

FE_36_Supression_system= {
    "No":0,
    "Yes":1
}

Updated_Data["FE  36  Supression system"] = Updated_Data["FE  36  Supression system"].map(FE_36_Supression_system)

In [82]:

FE_36_Supression_Room_Coverage= {
    "NA":0,
    "Server/HUB":1,
    "UPS+Battery":2,
    "Hub+UPS+Battery":3,
    "Server+Hub+UPS+Battery":4
}

Updated_Data["FE  36  Supression system (Room Coverage)"] = Updated_Data["FE  36  Supression system (Room Coverage)"].map(FE_36_Supression_Room_Coverage)

In [83]:
Updated_Data["FE  36  Supression system (Room Coverage)"]

0     0
1     2
2     2
3     0
4     1
5     2
6     1
7     2
8     2
9     2
10    0
11    2
12    2
13    2
14    1
15    2
16    2
17    2
Name: FE  36  Supression system (Room Coverage), dtype: int64

In [84]:

Fire_extinguisher= {
    "ECO/MID":0,
    "HIGH":1
}

Updated_Data["Fire extinguisher"] = Updated_Data["Fire extinguisher"].map(Fire_extinguisher)

In [85]:

Sprinkler_Type= {
    "ECO/MID":0,
    "HIGH":1
}

Updated_Data["Fire extinguisher"] = Updated_Data["Fire extinguisher"].map(Fire_extinguisher)

In [86]:

Fire_extinguisher_Room_Coverage= {
    "Office":0,
    "Office+UPS+Battery":1,
    "Office+Hub+UPS+Battery":2,
    "Office+Server+Hub+UPS+Battery":3
}

Updated_Data["Fire extinguisher  (Room Coverage)"] = Updated_Data["Fire extinguisher  (Room Coverage)"].map(Fire_extinguisher_Room_Coverage)

In [87]:

Fire_extinguisher_Room_Coverage= {
    "Office":0,
    "Office+UPS+Battery":1,
    "Office+Hub+UPS+Battery":2,
    "Office+Server+Hub+UPS+Battery":3
}

Updated_Data["Fire extinguisher  (Room Coverage)"] = Updated_Data["Fire extinguisher  (Room Coverage)"].map(Fire_extinguisher_Room_Coverage)

In [88]:

Lifting_Pump= {
    "NA":0,
    "Yes":1
}

Updated_Data["Lifting pump"] = Updated_Data["Lifting pump"].map(Lifting_Pump)

In [89]:

HVAC_Workspace= {
    "Lowside":1,
    "Tap-off+AHU+Lowside":2,
    "Tap-off+CSU+Lowside":3,
    "VRF+AHU+Lowside":4,
    "VRF+CSU+Lowside":5,
    "VRF+Cassette+Lowside":6,
    "VRF+Hybrid+Lowside":7,
    "DX+CSU+Lowside":8,
    "DX+Cassette+Lowside":9

}

Updated_Data["HVAC: | Workspace"] = Updated_Data["HVAC: | Workspace"].map(HVAC_Workspace)

In [90]:

HVAC_Area= {
    "None":0,
    "VRF":1,
    "DX":2,
}

Updated_Data["HVAC: 24/7 area"] = Updated_Data["HVAC: 24/7 area"].map(HVAC_Area)

In [91]:

HVAC_Dedicated= {
    "None":0,
    "Cafe":1,
    "Gym":2,
    "Cafe+Gym":3,
    "Cafe+Gym+Others":4,

}

Updated_Data["HVAC: Dedicated"] = Updated_Data["HVAC: Dedicated"].map(HVAC_Dedicated)

In [92]:

VAV_Scope= {
    "No":0,
    "Yes":1
}

Updated_Data["Scope: VAV"] = Updated_Data["Scope: VAV"].map(VAV_Scope)

In [93]:

Underdeck_Scope= {
    "No":0,
    "Yes":1
}

Updated_Data["Scope: Under deck"] = Updated_Data["Scope: Under deck"].map(Underdeck_Scope)

In [94]:

Workspace_Operation= {
    "Laptop":1,
    "Laptop+Single Monitor":2,
    "Laptop+Dual Monitor":3,
    "Dual Monitor+Dual Eq.":4,

}

Updated_Data["Workspace Operation"] = Updated_Data["Workspace Operation"].map(Workspace_Operation)

In [95]:

Workspace_Operation_ration= {
    "0 : 50 : 50":1,
    "50 : 50 : 0":2,
    "50 : 20 : 30":3,
    "50 : 30 : 20":4,
    "0 : 70 : 30":5,
    "70 : 20 : 10":6,
    "100 : 0 : 0":7,
    "0 : 100 : 0":8,
    "0 : 0 : 100":9
}

Updated_Data["Workspace Operation ration"] = Updated_Data["Workspace Operation ration"].map(Workspace_Operation_ration)

In [96]:

HAT_Scope= {
    "HAT-No":0,
    "HAT-Yes":1
}

Updated_Data["Scope: HAT"] = Updated_Data["Scope: HAT"].map(HAT_Scope)

In [97]:

USB_Scope= {
    "1 Port USB-No":1,
    "1 Port USB-Yes":2,
    "2 Port USB-No":3,
    "2 Port USB-Yes":4
}

Updated_Data["Scope: USB"] = Updated_Data["Scope: USB"].map(USB_Scope)

In [98]:

RP_Soc_Scope= {
    "No":0,
    "Yes":1
}

Updated_Data["Scope: Add-on RP Soc."] = Updated_Data["Scope: Add-on RP Soc."].map(RP_Soc_Scope)

In [99]:

AH_Netbox_Scope= {
    "NA":0,
    "AH Netbox-Workspace":1,
    "AH Netbox-Meeting Room":2,
    "AH Netbox-Workspace+Meeting Room":3
}

Updated_Data["Scope: AH Netbox"] = Updated_Data["Scope: AH Netbox"].map(AH_Netbox_Scope)

In [100]:

UPS_Requirement= {
    "100% to Office with N":1,
    "50% to Office with N":2,
    "No UPS for Office":3
}

Updated_Data["UPS Requirement"] = Updated_Data["UPS Requirement"].map(UPS_Requirement)

In [101]:

Conduit_Type= {
    "MS":0,
    "PVC":1
}

Updated_Data["Conduit Type"] = Updated_Data["Conduit Type"].map(Conduit_Type)

In [102]:

Lighting_Design= {
    "ECO":0,
    "MID":1,
    "HIGH":2
}

Updated_Data["Lighting Design"] = Updated_Data["Lighting Design"].map(Lighting_Design)

In [103]:

Light_Control_System= {
    "PIR":1,
    "Daylight Harvest+PIR":2,
    "LMS-Yes":3,
    "LMS-No":4
}

Updated_Data["Lighting Control System"] = Updated_Data["Lighting Control System"].map(Light_Control_System)

In [104]:

IT_Node_Details= {
    "None":0,
    "CAT-6 1 Node":1,
    "CAT-6 2 Node":2,
    "CAT-6 3 Node":3,
    "CAT-6 4 Node":4,
    "CAT-6A 1 Node":5,
    "CAT-6A 2 Node":6,
    "CAT-6A 3 Node":7,
    "CAT-6A 4 Node":8

}

Updated_Data["IT Node details"] = Updated_Data["IT Node details"].map(IT_Node_Details)

In [105]:
Node_Requirement= {
    "025% (Every 4 W/S)":1,
    "050% (Every 2 W/S)":2,
    "075% (Every 3 W/S)":3,
    "100% (Every W/S)":4,
    "150% (Every W/S 100% + Alternate W/S 50%)":5
}

Updated_Data["Node % requirement"] = Updated_Data["Node % requirement"].map(Node_Requirement)

In [106]:
Updated_Data["Node % requirement"]

0     4
1     4
2     4
3     4
4     4
5     1
6     4
7     4
8     4
9     1
10    4
11    4
12    4
13    1
14    4
15    4
16    4
17    4
Name: Node % requirement, dtype: int64

In [107]:

Backbone_Cabling= {
    "None":0,
    "OM3 6C":1,
    "OM3 12C":2,
    "OM3 24C":3,
    "OM3 48C":4,
    "OM4 6C":5,
    "OM4 12C":6,
    "OM4 24C":7,
    "OM4 48C":8,
    "SM 6C":9,
    "SM 12C":10,
    "SM 24C":11,
    "SM 48C":12
}

Updated_Data["Backbone cabling- Fiber"] = Updated_Data["Backbone cabling- Fiber"].map(Backbone_Cabling)

In [108]:

PUD_Details= {
    "Indian 3pin":1,
    "IEC":2,
    "OM3 6C":3,
}

Updated_Data["PDU"] = Updated_Data["PDU"].map(PUD_Details)

In [109]:
Updated_Data["Floor Tap-off Type"]

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
Name: Floor Tap-off Type, dtype: int64

In [110]:
Updated_Data = Updated_Data.drop("Floor Tap-off Type",axis = 1)

In [111]:
Updated_Data = Updated_Data.drop("PHE Fixture Catagory",axis = 1)

In [112]:
Updated_Data["Toilet Details: Scope"]

0     Toilets in Scope
1     Toilets in Scope
2     Toilets in Scope
3     Toilets in Scope
4     Toilets in Scope
5     Toilets in Scope
6     Toilets in Scope
7     Toilets in Scope
8     Toilets in Scope
9     Toilets in Scope
10    Toilets in Scope
11    Toilets in Scope
12    Toilets in Scope
13    Toilets in Scope
14    Toilets in Scope
15    Toilets in Scope
16    Toilets in Scope
17    Toilets in Scope
Name: Toilet Details: Scope, dtype: object

In [113]:

Toilet_Scope= {
    "Toilets in Scope":1,
    "Toilets not in Scope":0,
}

Updated_Data["Toilet Details: Scope"] = Updated_Data["Toilet Details: Scope"].map(Toilet_Scope)

In [114]:
Updated_Data.to_csv("/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Processed/Processed_Classification_Data_4.0.csv")

In [115]:
Updated_Data["Camera POE switch"]

0     PoE Switch Client
1     PoE Switch Client
2     PoE Switch Client
3     PoE Switch Client
4     PoE Switch Client
5     PoE Switch Client
6     PoE Switch Client
7     PoE Switch Client
8     PoE Switch Client
9     PoE Switch Client
10    PoE Switch Client
11    PoE Switch Client
12    PoE Switch Client
13    PoE Switch Client
14    PoE Switch Client
15    PoE Switch Client
16    PoE Switch Client
17    PoE Switch Client
Name: Camera POE switch, dtype: object

In [116]:
Camera_Switch = {
"PoE Switch Client":0,
"PoE Switch SM":1

}

Updated_Data["Camera POE switch"] = Updated_Data["Camera POE switch"].map(Camera_Switch)

In [117]:
Data_path_Final = '/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Processed/Processed_Classification_Data_5.0.csv'

In [118]:
Data= pd.read_csv(Data_path_Final, keep_default_na=False, na_values=[])

In [119]:
Data

,Unnamed: 0,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,0,1,2583,239.966555,0,4653,1,1,6,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,24950,2317.911557,0,33000,5,1,8,0,...,1,1,0,1,1,0,0,1,0,1
2,2,1,24950,2317.911557,0,33000,5,1,8,0,...,1,1,0,1,1,0,0,1,0,0
3,3,1,2583,239.966555,0,4653,1,1,6,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1,29192,2712.002973,0,32312,6,1,12,0,...,1,1,0,1,1,0,0,1,0,1
5,5,1,29224,2714.975845,0,45347,14,1,20,0,...,0,0,0,0,0,0,0,0,0,0
6,6,1,29192,2712.002973,0,32312,6,1,12,0,...,1,1,0,1,1,0,0,1,0,1
7,7,1,24950,2317.911557,0,33000,5,1,8,0,...,1,1,0,1,1,0,0,1,0,1
8,8,1,24950,2317.911557,0,33000,5,1,8,0,...,1,1,0,1,1,0,0,1,0,1
9,9,1,29224,2714.975845,0,45347,14,1,20,0,...,0,0,0,0,0,0,0,0,0,0
10,10,1,2583,239.966555,0,4653,1,1,6,0,...,0,0,0,0,0,0,0,0,0,0
11,11,1,24950,2317.911557,0,33000,5,1,8,0,...,1,1,0,1,1,0,0,1,0,1
12,12,1,24950,2317.911557,0,33000,5,1,8,0,...,1,1,0,1,1,0,0,0,0,0
13,13,1,29224,2714.975845,0,45347,14,1,20,0,...,0,0,0,0,0,0,0,0,0,0
14,14,1,29192,2712.002973,0,32312,6,1,12,0,...,1,1,0,1,1,0,0,1,0,1
15,15,1,24950,2317.911557,0,33000,5,1,8,0,...,1,1,0,1,1,0,0,1,0,1
16,16,1,24950,2317.911557,0,33000,5,1,8,0,...,1,1,0,1,1,0,0,1,0,1
17,17,1,24950,2317.911557,0,33000,5,1,8,0,...,1,1,0,1,1,0,0,1,0,1

In [120]:
Final_Data= Data.drop("Unnamed: 0", axis = 1)

In [121]:
Final_Data

,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,Fire Approval std.,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
2,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,0
3,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,29192,2712.002973,0,32312,6,1,12,0,1,...,1,1,0,1,1,0,0,1,0,1
5,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
6,1,29192,2712.002973,0,32312,6,1,12,0,1,...,1,1,0,1,1,0,0,1,0,1
7,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
8,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
9,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
10,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
12,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,0,0,0
13,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
14,1,29192,2712.002973,0,32312,6,1,12,0,1,...,1,1,0,1,1,0,0,1,0,1
15,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
16,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
17,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1

In [122]:
print([col for col in Final_Data.columns if "Sprinkler" in col])

['Scope of Sprinkler', 'Sprinkler_void']

In [123]:
print([col for col in Final_Data.columns if "Open" in col])

['Open Ceiling Office Area', 'Open Collaboration Space_4 pax Rm_Room_Count', 'Open Collaboration Space_6 pax Rm_Room_Count', 'Open Collaboration Space_8 pax Rm_Room_Count', 'Open Collaboration Space_10 pax Rm_Room_Count', 'Open Pantry_Room_Count']

In [124]:
Final_Data["CCTC_Placement"]

0           NA
1     Corridor
2     Corridor
3           NA
4     Corridor
5     Corridor
6     Corridor
7     Corridor
8     Corridor
9     Corridor
10          NA
11    Corridor
12    Corridor
13    Corridor
14    Corridor
15    Corridor
16    Corridor
17    Corridor
Name: CCTC_Placement, dtype: object

In [125]:
CCTV_Placement = {
    "NA":0,
    "Corridor":1,
    "360Â°":2
}


Final_Data["CCTC_Placement"] = Final_Data["CCTC_Placement"].map(CCTV_Placement)

In [126]:
Final_Data["Sprinkler_void"]

0     >800
1     <800
2     <800
3     >800
4     <800
5     >800
6     <800
7     <800
8     <800
9     >800
10    >800
11    <800
12    <800
13    >800
14    <800
15    <800
16    <800
17    <800
Name: Sprinkler_void, dtype: object

In [127]:
Sprinkler_Void = {
    ">800":1,
    "<800":0
}

Final_Data["Sprinkler_void"] = Final_Data["Sprinkler_void"].map(Sprinkler_Void)

In [128]:
Camera_Switch = {
"PoE Switch Client":0,
"PoE Switch SM":1

}

Final_Data["Camera POE switch"] = Final_Data["Camera POE switch"].map(Camera_Switch)

In [129]:
Final_Data.to_csv("/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Processed/Processed_Classification_Data_6.0.csv")

In [132]:
Final_Data

,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,Fire Approval std.,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
2,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,0
3,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,29192,2712.002973,0,32312,6,1,12,0,1,...,1,1,0,1,1,0,0,1,0,1
5,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
6,1,29192,2712.002973,0,32312,6,1,12,0,1,...,1,1,0,1,1,0,0,1,0,1
7,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
8,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
9,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
10,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
12,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,0,0,0
13,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
14,1,29192,2712.002973,0,32312,6,1,12,0,1,...,1,1,0,1,1,0,0,1,0,1
15,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
16,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1
17,1,24950,2317.911557,0,33000,5,1,8,0,1,...,1,1,0,1,1,0,0,1,0,1

In [136]:
Regression_Input = Final_Data.iloc[:,0:257]

In [137]:
Regression_Input

,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,Fire Approval std.,...,HUB / IDF Room-1_Mux rack_Qty,HUB / IDF Room-1_Voice rack_Qty,HUB / IDF Room-2_Server rack_Qty,HUB / IDF Room-2_Network rack_Qty,HUB / IDF Room-2_Mux rack_Qty,HUB / IDF Room-2_Voice rack_Qty,Lab Racks_Qty,Lab Desk_Qty,Lab Equipments- 3Phase_Qty,Lab Equipments- 1Phase_Qty
0,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,24950,2317.911557,0,33000,5,1,8,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,24950,2317.911557,0,33000,5,1,8,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,29192,2712.002973,0,32312,6,1,12,0,1,...,0,0,0,0,0,0,0,0,0,0
5,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
6,1,29192,2712.002973,0,32312,6,1,12,0,1,...,0,0,0,0,0,0,0,0,0,0
7,1,24950,2317.911557,0,33000,5,1,8,0,1,...,0,0,0,0,0,0,0,0,0,0
8,1,24950,2317.911557,0,33000,5,1,8,0,1,...,0,0,0,0,0,0,0,0,0,0
9,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
10,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,24950,2317.911557,0,33000,5,1,8,0,1,...,0,0,0,0,0,0,0,0,0,0
12,1,24950,2317.911557,0,33000,5,1,8,0,1,...,0,0,0,0,0,0,0,0,0,0
13,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
14,1,29192,2712.002973,0,32312,6,1,12,0,1,...,0,0,0,0,0,0,0,0,0,0
15,1,24950,2317.911557,0,33000,5,1,8,0,1,...,0,0,0,0,0,0,0,0,0,0
16,1,24950,2317.911557,0,33000,5,1,8,0,1,...,0,0,0,0,0,0,0,0,0,0
17,1,24950,2317.911557,0,33000,5,1,8,0,1,...,0,0,0,0,0,0,0,0,0,0

In [138]:
Original_data_path = ('/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Raw/Dataset_1.1.xlsx')

In [139]:
Original_Data = pd.read_excel(Original_data_path,keep_default_na=False, na_values=[])

In [142]:
Regression_Output = Original_Data.iloc[:,302:]

In [143]:
Regression_Output

,CIADHL02630002SI,CIADHL02630003SI,CIADHR02620004SI,CIADHR02620006SI,CIADHR02620007SI,CIBABT02900001SI,CIBABT02900003SI,CIBABT02900005SI,CIBAEV02880002SI,CIBAOO02890002SI,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,0,0,0.0000,0.0000,7.6800,0,53.00,0.00,104.00,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0.0000,15.8208,0.0000,0,54.59,8.24,21.63,0,...,2,84,0,1,3,0,0,2,0,2
2,0,0,0.0000,15.8208,0.0000,0,54.59,8.24,21.63,0,...,2,84,0,1,3,0,0,2,0,0
3,0,0,7.6800,0.0000,0.0000,0,53.00,0.00,0.00,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0.0000,15.3600,0.0000,0,53.00,8.00,113.00,0,...,2,84,0,1,3,0,0,2,0,2
5,0,0,15.3600,0.0000,0.0000,0,53.00,6.00,0.00,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0.0000,0.0000,15.3600,0,53.00,8.00,113.00,0,...,2,84,0,1,3,0,0,2,0,2
7,0,0,15.8208,0.0000,0.0000,0,54.59,8.24,0.00,0,...,2,84,0,1,3,0,0,2,0,2
8,0,0,0.0000,0.0000,15.8208,0,54.59,8.24,21.63,0,...,2,84,0,1,3,0,0,2,0,2
9,0,0,0.0000,0.0000,15.3600,0,53.00,6.00,138.00,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0.0000,7.6800,0.0000,0,53.00,0.00,104.00,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,15.8208,0.0000,0.0000,0,54.59,8.24,0.00,0,...,2,84,0,1,3,0,0,2,0,2
12,0,0,0.0000,0.0000,15.8208,0,54.59,8.24,21.63,0,...,2,84,0,1,3,0,0,0,0,0
13,0,0,0.0000,15.3600,0.0000,0,53.00,6.00,138.00,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,15.3600,0.0000,0.0000,0,53.00,8.00,0.00,0,...,2,84,0,1,3,0,0,2,0,2
15,0,0,0.0000,0.0000,15.8208,0,54.59,8.24,21.63,0,...,2,84,0,1,3,0,0,2,0,2
16,0,0,0.0000,15.8208,0.0000,0,54.59,8.24,21.63,0,...,2,84,0,1,3,0,0,2,0,2
17,0,0,15.8208,0.0000,0.0000,0,54.59,8.24,0.00,0,...,2,84,0,1,3,0,0,2,0,2

In [145]:
Regression_Data = pd.concat([Regression_Input,Regression_Output],axis=1)

In [146]:
Regression_Data

,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,Fire Approval std.,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,24950,2317.911557,0,33000,5,1,8,0,1,...,2,84,0,1,3,0,0,2,0,2
2,1,24950,2317.911557,0,33000,5,1,8,0,1,...,2,84,0,1,3,0,0,2,0,0
3,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,29192,2712.002973,0,32312,6,1,12,0,1,...,2,84,0,1,3,0,0,2,0,2
5,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
6,1,29192,2712.002973,0,32312,6,1,12,0,1,...,2,84,0,1,3,0,0,2,0,2
7,1,24950,2317.911557,0,33000,5,1,8,0,1,...,2,84,0,1,3,0,0,2,0,2
8,1,24950,2317.911557,0,33000,5,1,8,0,1,...,2,84,0,1,3,0,0,2,0,2
9,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
10,1,2583,239.966555,0,4653,1,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,24950,2317.911557,0,33000,5,1,8,0,1,...,2,84,0,1,3,0,0,2,0,2
12,1,24950,2317.911557,0,33000,5,1,8,0,1,...,2,84,0,1,3,0,0,0,0,0
13,1,29224,2714.975845,0,45347,14,1,20,0,1,...,0,0,0,0,0,0,0,0,0,0
14,1,29192,2712.002973,0,32312,6,1,12,0,1,...,2,84,0,1,3,0,0,2,0,2
15,1,24950,2317.911557,0,33000,5,1,8,0,1,...,2,84,0,1,3,0,0,2,0,2
16,1,24950,2317.911557,0,33000,5,1,8,0,1,...,2,84,0,1,3,0,0,2,0,2
17,1,24950,2317.911557,0,33000,5,1,8,0,1,...,2,84,0,1,3,0,0,2,0,2

In [147]:
Regression_Data.to_csv("/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Processed/Processed_Regression_Data_1.0.csv")